<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Blog Website</h1>

    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
           <p>&copy; 2023 Your Website. All Rights Reserved.</p>
        <nav>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

    </footer>
</body>
</html>

